<!-- INíCIO do CONTEÚDO -->
<section class="content-header">
  <h1>
    Todos os Restaurantes
    <a class="search-link pull-right"><i class="fa fa-search"></i></a>
  </h1>

  <!-- barra de busca -->
  <div class="row">
    <div class="col-xs-12">
      <form>
        <div class="form-group"> 
          <input type="text" class="form-control" placeholder="O que você está procurando ?" />
        </div>
      </form>
    </div>

  </div>
</section>


<section class="content">

  <div class="row">
    <div *ngFor="let rest of restaurants" class="col-sm-6 col-xs-12">

      <mt-restaurant [restaurant]="rest"></mt-restaurant>

      <!-- /.info-box -->
    </div>
    <!-- /.col -->

  </div>

</section>

<!-- FIM  do CONTEÚDO -->